body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    position: relative;
    width: 100%;
    /* Chiếm toàn bộ chiều ngang */
    height: 30vh;
    /* Chiều cao header chiếm 60% màn hình */
    overflow: hidden;
    /* Cắt nội dung thừa */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 16px 22px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #575757;
}

.header-content {
    position: relative;
    z-index: 1;
    /* Đưa nội dung ra trước video */
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 15px 10px;
}

.header-content h1 {
    font-size: 3rem;
    margin: 0;
}

.header-content p {
    font-size: 1.2rem;
    padding-top: 16px;
    opacity: 0;
    /* Ẩn chữ ban đầu */
    animation: slideUp 2s ease forwards;
    /* Gọi animation */
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        /* Chữ bắt đầu ở vị trí thấp hơn */
        opacity: 0;
        /* Ẩn chữ */
    }

    100% {
        transform: translateY(0);
        /* Chữ trượt về đúng vị trí */
        opacity: 1;
        /* Hiển thị chữ */
    }
}

.content {
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}